---
---

@import "{{ site.theme }}";

main#content {
  max-width: 128rem;
}

a {
  color: #6bb81e;
  text-decoration: none;
  &:hover {
    color: #5f6407;
    text-decoration: none;
  }
}

.btn {
  width: 200px;
  height: 75px;
  vertical-align: middle;
	&:p {
		vertical-align: middle;
	}
}

img {
  width: 20px;
  height: 20px;
}

.head-shot {
	width: 512px;
	height: 384px;
}
