---
---

@import "{{ site.theme }}";

main#content {
  max-width: 128rem;
}

.page-header {
	background-color: #000000;
	background-image: none;
}

.btn {
  width: 200px;
  height: 75px;
  vertical-align: middle;
	&:p {
		vertical-align: middle;
	}
}

.bio {
	text-align: right;
}

img {
  width: 20px;
  height: 20px;
}

.head-shot {
	width: 512px;
	height: 384px;
}

@media only screen and (max-width: 768px) {
	.btn {
		width: 100%;
	}
	
	.bio {
		text-align: left;
	}
	
	td {
		width: 100%;
	}
	
	tr {
		display: flex;
		flex-direction: column-reverse;
	}
	
	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.head-shot {
		width: 100%;
		height: auto;
	}
}
